div {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

#caja1 {
    background-color: lightcoral;
}

#caja2 {
    background-color: lightcoral;
    position: relative;
    left: 15px; 
    top: 5px;  
}

#caja3 {
    background-color: lightcoral;
}